## Xcode
build/
DerivedData/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
xcuserdata/

## Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/

## macOS
.DS_Store
